h1 {
  font-size: 7rem;
}

header {
  background-color: teal;
  margin: 5rem;
  border-radius: 5rem;
  text-align: center;
}
body {
  background-color: rgba(0, 128, 128, 0.203);
}

section {
border-color: teal;
border-width: 2rem;
}

footer {
  background-color: rgba(0, 128, 128, 0.442);
  margin: 10rem;
  border-radius: 10rem;
  font-size:larger;
  text-align: center;
}

ul {
  list-style: disc;

  margin : 1rem;
}
